<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>VB_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FT_Servlet</servlet-name>
        <servlet-class>FT_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BB_Servlet</servlet-name>
        <servlet-class>TN_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VB_Servlet</servlet-name>
        <servlet-class>VB_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs_Servlet</servlet-name>
        <servlet-class>AboutUs_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs_Servlet</servlet-name>
        <servlet-class>ContactUs_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Features_Servlet</servlet-name>
        <servlet-class>Features_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Servlet</servlet-name>
        <servlet-class>Search_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TS_Servlet</servlet-name>
        <servlet-class>TS_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo_Servlet</servlet-name>
        <servlet-class>Demo_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment_Servlet</servlet-name>
        <servlet-class>Comment_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FT_Servlet</servlet-name>
        <url-pattern>/FT_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BB_Servlet</servlet-name>
        <url-pattern>/BB_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VB_Servlet</servlet-name>
        <url-pattern>/VB_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs_Servlet</servlet-name>
        <url-pattern>/AboutUs_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs_Servlet</servlet-name>
        <url-pattern>/ContactUs_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Features_Servlet</servlet-name>
        <url-pattern>/Features_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Servlet</servlet-name>
        <url-pattern>/Search_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TS_Servlet</servlet-name>
        <url-pattern>/TS_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo_Servlet</servlet-name>
        <url-pattern>/Demo_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment_Servlet</servlet-name>
        <url-pattern>/Comment_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
